xml-resources/web-service-references/MYWebService/wsdl/localhost_38477/WebApplication1/MYWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.vernanda.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.vernanda.com/" name="MYWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.vernanda.com/" schemaLocation="http://localhost:38477/WebApplication1/MYWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="UpdateAcademicYear">
<part name="parameters" element="tns:UpdateAcademicYear"/>
</message>
<message name="UpdateAcademicYearResponse">
<part name="parameters" element="tns:UpdateAcademicYearResponse"/>
</message>
<message name="addAcademicYear">
<part name="parameters" element="tns:addAcademicYear"/>
</message>
<message name="addAcademicYearResponse">
<part name="parameters" element="tns:addAcademicYearResponse"/>
</message>
<message name="showAllAcademicYear">
<part name="parameters" element="tns:showAllAcademicYear"/>
</message>
<message name="showAllAcademicYearResponse">
<part name="parameters" element="tns:showAllAcademicYearResponse"/>
</message>
<message name="DeleteAcademicYear">
<part name="parameters" element="tns:DeleteAcademicYear"/>
</message>
<message name="DeleteAcademicYearResponse">
<part name="parameters" element="tns:DeleteAcademicYearResponse"/>
</message>
<portType name="AcademicYearWS">
<operation name="UpdateAcademicYear">
<input wsam:Action="http://ws.vernanda.com/AcademicYearWS/UpdateAcademicYearRequest" message="tns:UpdateAcademicYear"/>
<output wsam:Action="http://ws.vernanda.com/AcademicYearWS/UpdateAcademicYearResponse" message="tns:UpdateAcademicYearResponse"/>
</operation>
<operation name="addAcademicYear">
<input wsam:Action="http://ws.vernanda.com/AcademicYearWS/addAcademicYearRequest" message="tns:addAcademicYear"/>
<output wsam:Action="http://ws.vernanda.com/AcademicYearWS/addAcademicYearResponse" message="tns:addAcademicYearResponse"/>
</operation>
<operation name="showAllAcademicYear">
<input wsam:Action="http://ws.vernanda.com/AcademicYearWS/showAllAcademicYearRequest" message="tns:showAllAcademicYear"/>
<output wsam:Action="http://ws.vernanda.com/AcademicYearWS/showAllAcademicYearResponse" message="tns:showAllAcademicYearResponse"/>
</operation>
<operation name="DeleteAcademicYear">
<input wsam:Action="http://ws.vernanda.com/AcademicYearWS/DeleteAcademicYearRequest" message="tns:DeleteAcademicYear"/>
<output wsam:Action="http://ws.vernanda.com/AcademicYearWS/DeleteAcademicYearResponse" message="tns:DeleteAcademicYearResponse"/>
</operation>
</portType>
<binding name="AcademicYearWSPortBinding" type="tns:AcademicYearWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="UpdateAcademicYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAcademicYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showAllAcademicYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteAcademicYear">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MYWebService">
<port name="AcademicYearWSPort" binding="tns:AcademicYearWSPortBinding">
<soap:address location="http://localhost:38477/WebApplication1/MYWebService"/>
</port>
</service>
</definitions>